* {
    margin: 0;
    padding: 0;
}

.footer, .header {
    height: 50px;
    width: 70%;
    margin: 0 auto;
}

.footer {
    background-color: darkgoldenrod;
    
}

.header {
    position: fixed;
    background-color: violet;
}

.main {
    position: relative;
    height: 1200px;
    background-color: crimson;
}

.div1, .div2, .div3 {
    height: 100px;
    width: 50%;
    position: absolute;
}

.div1 {
    background-color: yellow;
    right: 25%;
    top: 400px;
    
}

.div2 {
    background-color: blue;
    right: 25%;
    top: 500px;
}

.div3 {
    background-color: green;
    right: 25%;
    top: 600px;
}