* {
    margin: 0;
    padding: 0;
}

.composition {
    width: 600px;
    height: 400px;
    background-image: url(./img/bg.jpg);
    position: relative;
}

#ufo {
    position: absolute;
    z-index: 7;
    top: 308px;
    left: 115px;
}

#jupiter {
    position: absolute;
    z-index: 6;
    top: 140px;
    left: 140px;
}

#spaceship {
    position: absolute;
    z-index: 5;
    top: 145px;
    left: 145px;
}

#earth {
    position: absolute;
    z-index: 4;
    top: 50px;
    left: 50px;
}

#venus {
    position: absolute;
    z-index: 3;
    top: 18px;
    left: 185px;
}

#asteroid {
    position: absolute;
    top: 90px;
    left: 430px;
}

#superman {
    position: absolute;
    top: 329px;
    left: 500px;
}