:root {
    --background-color: #F1F5F9
}

* {
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.form {
    border-radius: 10px;
    min-width: 250px;
    background-color: #fff;
    padding: 80px 20px 30px 20px;
    position: relative;
}

img {
    position: absolute;
    left: 20px;
    top: 30px;
}

h4 {
    font-size: 28px;
}

p {
    font-size: 14px;
}

.fields {
    padding: 20px 0;
}

.fields input {
    padding: 5px 10px;
    outline: none;
    margin: 10px 0;
    width: calc(100% - 20px);
}

.password {
    position: relative;
}

.password i {
    position: absolute;
    right: 8px;
    top: 17px;
}

.fields-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 12px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox label {
    margin-left: 3px;
}

#signIn {
    width: 100%;
    padding: 8px 0;
    background-color: #524AE3;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-bottom: 30px;
}

.continue {
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue span {
    margin: 0 3px;
    color: #6493B4;
    font-size: 12px;
}

.hr {
    height: 1px;
    background-color: #E2E8F0;
    width: 25%;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

footer button {
    background-color: #fff;
    color: RGB(100,116,139);
    padding: 5px 30px;
    border: 1px solid RGB(100,116,139);
    border-radius: 20px;
    cursor: pointer;
    transition: all .25s ease;
}

footer button:hover {
    background-color: RGBA(100,116,139,0.15);
}