body {
    margin-top: 2rem !important;
    background-color: bisque;
}

.phonebook > div {
    display: inline;
}

#searchEngine {
    margin: 1rem 0 2rem 0 !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

h1, h2 {
    font-weight: 800;
    color: darkslategray;
}

#addContactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: 200;
}

input {
    padding: 0.3rem !important;
    border: 0.5px solid lightgray;
    font-weight: 200;
    outline-style: none;
}

#search-input {
    width: 40%;
    margin: 1rem 0 1rem !important;
}

/* #search:before {
    content: "\f002";
    font-family: icons !important;
    position: absolute;
    padding: 15px 0px 0px 15px;
    color: gray;
  } */

#addContactForm input {
    margin: 0.2rem 0 0.5rem !important;
}

button {
    border: none;
    border-radius: 5px;
    transition: all .25s ease;
    cursor: pointer;
}

#addContactButton {
    margin-top: 1.5rem !important;
    width: 50%;
    align-self: center;
    background-color: green;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem !important;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#addContactButton:hover {
    background-color: darkslategray;
}

#contactListContainer {
    padding-left: 2rem !important;
}

ol {
    margin-top: unset !important;
}

#contactsList li {
    font-weight: 200;
    margin-bottom: .5rem !important;
}

#spanBtns button {
    padding: 0.2rem 1rem !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-weight: 300;
    font-size: 0.8rem;
}

#changeContactButton {
    background-color: yellow;
}

#changeContactButton:hover {
    background-color: yellowgreen;
    color: #fff;
}

#deleteContactButton {
    background-color: rgb(255, 81, 81);
}

#deleteContactButton:hover {
    background-color: darkred;
    color: #fff;
}