.container {
    margin-top: 20px;
}

input, label {
    display: block;
    margin-top: 10px;
}

button {
    margin: 10px 15px;
}

#productList {
    list-style-type: none;
    margin-top: 20px;
}

#statsContainer {
    margin-top: 20px;
}