h1 {
    text-align: center;
    font-size: 100px;
    /* display: table-cell;
    vertical-align: middle; */
    color: rgb(70, 8, 8);
}

.header {
    background-image: url("../img/coffee-bgnd.jpeg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    /* display: table;
    text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

* {
    margin: 0;
}

body {
    background-color: rgb(246, 230, 230);
}

ul {
    list-style-type: none; /* delete dots */
    margin-top: 20px;
    padding-right: 40px;
}

li {
    margin-top: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: gray;
}

h2, p {
    margin-bottom: 5px;
}

.footer {
    margin: 20px;
}

/* .main>ul>li:first-child {
    color: chocolate;
}

.main>ul>li:nth-child(2) {
    color: rgb(142, 98, 66);
} */

.flag {
    width: 20px;
    border-radius: 50%;
}

h2.country {
    display: inline;
}