@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poller One', cursive;
    background-image: url("../img/sky.jpg");
    color: #eedb00;
}

header {
    background-color: rgba(60, 69, 67, 0.6);
    border-radius: 15px 15px 0 0;
}

footer {
    background-color: rgba(60, 69, 67, 0.6);
    border-radius: 0 0 15px 15px;
    height: 6em;
}