* {
    padding: 0;
    margin: 0;
}

.main {
    height: 500px;
    background-image: url('./images/tea-background.webp');
    background-repeat: no-repeat;
    background-position: center;
}

img {
    width: 150px;
    border-radius: 10px;
}

.flag {
    width: 30px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.container-up, .container-down {
    display: flex;
    padding: 5px 20px;
}

.container-up .tea {
    width: 50%;
}

.container-down .tea {
    width: calc(100% / 3);
}

.tea {
    position: relative;
    border: 2px solid rgba(120,20,20,0.1);
    border-radius: 5px;
    margin: 5px 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    transition: all 500ms ease;
}

.tea:hover {
    background-color: rgba(86,205,98,0.3);
}

.container-down .tea:first-child {
    z-index: 10;
    background: white;
}

.container-down .tea:nth-child(2) img:not(.flag) {
    position: relative;
    right: 220px;
    top: 10px;
}

#bold {
    font-weight: bold;
    font-size: 16px;
}